version: '3.8'

services:

  nginx:
    image: nginx:alpine
    container_name: waggle-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - app
    restart: unless-stopped

  app:
    build: .
    container_name: waggle-app
    expose:
      - "8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://${DB_CONTAINER_NAME}:${DB_EXTERNAL_PORT}/${DB_DATABASE}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379 
    depends_on:
      - database
      - redis
    env_file:
      - .env
    restart: unless-stopped

  database:
    image: mysql:latest
    container_name: waggle-db
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USER}
      TZ: Asia/Seoul
    ports:
      - '${DB_EXTERNAL_PORT}:${DB_INTERNAL_PORT}'
    volumes:
      - db-data:/var/lib/mysql
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: waggle-redis
    ports:
      - '${REDIS_EXTERNAL_PORT}:${REDIS_INTERNAL_PORT}'
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
    volumes:
      - redis-data:/data
    restart: unless-stopped

volumes:
  db-data:
  redis-data: